
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../public/fotor-ai-2023051893449.jpg) no-repeat center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-family: 'Orbitron', sans-serif;
  width: 50%;
  padding: 0 10px;
  float: left;
}
/* 
.modalContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
} */

.desktopModalContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 7px;
  box-shadow: 0 0 32px rgba(0,0,0,0.5);
  padding: 40px;
  width: 450px;
  font-size: 26px;
}

.modalInfo {
  color: white;
  font-size: 36px;
  line-height: 1em;
  font-weight: 300;
  margin: 5px 0 10px;
  text-align: center;
}

.modalOverlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  color: #aaa;
  font-size: 15px;
  font-weight: 300px;
  margin: 0 0 36px;
  text-align: center;
}

.whiteText {
  color: #aaa;
}

.center {
  display: flex;
  margin: 0 0 36px;
  align-items: center;
  justify-content: center;
}

.error {
  text-align: center;
  padding: 16px 0;
  font-size: 13px;
  color: red;
}

.error2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.453);
  padding: 16px 0;
  font-size: 25px;
  font-weight: 600;
  color: red;
}

.regParam {
  color: #aaa;
  font-size: 16px;
  font-weight: 300px;
  text-align: center;
}

.paddington {
  padding: 0.75rem 0.5rem;
}

.toLeft {
  width: 50%;
  float: left;
  background-color: rgba(8, 5, 5, 0.25);
  margin-top: 2rem;
}

.toRight {
  margin-left: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 5.25rem;
}

.signIn {
  margin-top: 16%;
  margin-left: 48.5%;
  width: 8%;
  height: 8%;
  padding: 4px 0
}

.signOut {
  width: 10%;
  margin-left: 80%;
  margin-top: 0%;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.toCenter {
  text-align: center;
}

.search {
  text-align: center;
  padding-top: 1rem;
}

.gameText {
  font-weight: 600;
  font-size: 18px;
}